.modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #003267;
  color: white;
  padding: 30px 50px;
  width: 500px;
  height: 500px;
  z-index: 999;
  border-radius: 5px;
  .modal-title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  label {
    margin-bottom: -5px;
  }
  input {
    border: none;
    outline: none;
    padding: 15px;
    font-size: 19px;
    border-radius: 5px;
  }

  .buttons {
    display: flex;
    gap: 10px;
    margin-top: 30px;

    button {
      outline: none;
      border: none;
      background-color: #f75c54;
      font-size: 19px;
      padding: 15px;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.5s;

      &:hover {
        background-color: white;
        color: #f75c54;
      }
    }
  }
}
