.list {
  display: flex;
  gap: 20px;
  padding: 20px;
  min-height: calc(100vh - 64px);
  position: relative;
  z-index: 0;

  .btn {
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;

    &:after {
      content: " ";
      width: 0%;
      height: 100%;
      background: #f75c54;
      position: absolute;
      transition: all 0.4s ease-in-out;
      right: 0;
    }

    &:hover::after {
      right: auto;
      left: 0;
      width: 100%;
    }

    span {
      text-align: center;
      text-decoration: none;
      width: 100%;
      padding: 18px 25px;
      color: #fff;
      font-size: 1.125em;
      font-weight: 700;
      letter-spacing: 0.3em;
      z-index: 20;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #183153;
        animation: scaleUp 0.3s ease-in-out;
      }
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
}
