.profile {
  padding: 5%;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-around;
    .formContent {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .edit {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .formContent {
        .item {
          display: flex;
          flex-direction: column;
          gap: 10px;

          input {
            border: none;
            outline: none;
            padding: 15px;
            width: 280px;
            background-color: #bdb5b5;
            border-radius: 5px;

            &::placeholder {
              color: black;
            }
          }
        }
      }

      button {
        border: none;
        outline: none;
        background-color: #003267;
        color: white;
        width: fit-content;
        padding: 15px;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background-color: #012750;
        }
      }
    }

    .line {
      width: 2px;
      background-color: #003267;
    }
    .editPass {
      display: flex;
      flex-direction: column;
      gap: 80px;

      input {
        border: none;
        outline: none;
        padding: 15px;
        margin-bottom: 20px;
        width: 280px;
        background-color: #bdb5b5;
        border-radius: 5px;
        transition: 0.3s;

        &::placeholder {
          color: black;
        }
      }
      button {
        border: none;
        outline: none;
        background-color: #003267;
        color: white;
        width: fit-content;
        padding: 15px;
        cursor: pointer;
        border-radius: 8px;
        transition: 0.3s;

        &:hover {
          background-color: #012750;
        }
      }
    }
  }
}
