.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .right {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        font-size: 200px;
        color: #f75c54;
      }
      h2 {
        font-size: 60px;
        color: #003267;
        font-size: bold;
      }
    }

    .formContainer {
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          border: none;
          outline: none;
          background-color: #e9e9e9;
          padding: 10px 15px;
          border-radius: 8px;
          text-align: center;
        }
        button {
          outline: none;
          border: none;
          background-color: #003267;
          color: white;
          border-radius: 8px;
          padding: 10px 15px;
          width: 80%;
          cursor: pointer;
          align-self: center;
          margin-top: 20px;
        }

        h3 {
          color: #cac8c8;
          font-size: 13px;
          align-self: center;

          .link {
            color: #f75c54;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  }
}
