.home {
  .sidebar {
    &.active {
      ~ .homeContainer {
        width: calc(100% - 300px);
        left: 300px;
      }
    }
  }
  .homeContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    transition: all 0.5s ease;
  }
}
