.events {
  padding: 2% 5%;
  .title {
    color: #003267;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .projects {
    h3 {
      color: black;
      position: relative;
      transition: 0.5s;
      cursor: pointer;
      font-size: 18px;
      &::before {
        content: "";
        background-color: #003267;
        width: 15px;
        height: 2px;
        left: -23px;
        position: absolute;
        top: 12px;
        display: none;
      }
      &:hover {
        color: #003267;
        &::before {
          display: block;
        }
      }
    }
  }
}
