.sidebar {
  position: fixed;
  height: 100vh;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: -190px;
  background-color: #003267;

  &.active {
    width: 300px;
    left: 0;
  }
  .top {
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .center {
    padding-top: 58px;
    padding-left: 50px;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 30px;

      li {
        border-bottom: 1px solid #f75c54;
        width: 80%;
        padding-bottom: 20px;
        &.selected a {
          color: #f75c54;
        }
        a {
          text-decoration: none;
          color: white;
          font-size: 15px;
          transition: 0.5s;
          &:hover {
            color: #f75c54;
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    cursor: pointer;
    position: relative;

    .icon {
      color: #f75c54;
      font-size: 86px;
      border-radius: 50%;
      background-color: white;
    }
    .logout {
      position: absolute;
      border: none;
      outline: none;
      font-size: 19px;
      padding: 10px 15px;
      background-color: #f75c54;
      color: white;
      cursor: pointer;
      transition: 0.5s;
      display: none;
      border-radius: 5px;
      bottom: -62px;

      &.toggleLog {
        display: block;
      }
      &:hover {
        background-color: white;
        color: #f75c54;
      }
    }
  }
}
