.admins {
  padding: 50px;

  h3 {
    font-size: 40px;
    color: #003267;
  }

  .saveBtn {
    border: 1px solid #003267;
    background: transparent;
    color: #003267;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 80px;
    display: block;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    &:hover {
      background-color: #003267;
      color: white;
    }
  }
}
