.event {
  padding: 2% 5%;
  .content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;

    .event_item {
      flex-basis: calc(33.33333% - 30px);
      margin: 0 15px 30px;
      overflow: hidden;
      border-radius: 28px;

      .event-item_link {
        display: block;
        padding: 30px 20px;
        background-color: #121212;
        overflow: hidden;
        position: relative;

        &:hover {
          .event-item_bg {
            transform: scale(10);
          }
        }

        .event-item_bg {
          height: 128px;
          width: 128px;
          background-color: #f75c54;
          z-index: 1;
          position: absolute;
          top: -75px;
          right: -75px;
          border-radius: 50%;
          transition: all 0.5s ease;
        }

        .event-item_title {
          min-height: 87px;
          overflow: hidden;
          font-weight: bold;
          font-size: 30px;
          color: #fff;
          text-transform: capitalize;
          z-index: 2;
          text-decoration: underline;
          position: relative;
        }

        .counter {
          color: white;
          font-size: 19px;
          position: relative;
          z-index: 2;
          h3 {
            display: inline-block;
          }
        }
      }
    }
  }
  .btns {
    display: flex;
    gap: 5px;

    .btn {
      border: 1px solid #003267;
      background: transparent;
      color: #003267;
      padding: 15px;
      font-size: 18px;
      font-weight: bold;
      display: block;
      cursor: pointer;
      transition: 0.5s;
      border-radius: 5px;
      &:hover {
        background-color: #003267;
        color: white;
      }
    }
  }
}
