.projects {
  padding: 20px;

  h3 {
    font-size: 40px;
    color: #003267;
  }

  .buttons {
    display: flex;
    gap: 20px;
    margin-top: 80px;
    .btn {
      border: 1px solid #003267;
      background: transparent;
      color: #003267;
      padding: 15px;
      font-size: 18px;
      font-weight: bold;
      display: block;
      cursor: pointer;
      transition: 0.5s;
      border-radius: 5px;
      &:hover {
        background-color: #003267;
        color: white;
      }
    }
  }
}
