.logs {
  padding: 20px;

  h3 {
    color: #003267;
    font-weight: bold;
  }
  .btn {
    border: 1px solid #003267;
    background: transparent;
    color: #003267;
    padding: 15px;
    margin-top: 110px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    &:hover {
      background-color: #003267;
      color: white;
    }
  }
}
