.navbar {
  background-color: #bfbfbf;
  width: 100%;
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #003267;
      h2 {
        font-size: 15px;
        font-weight: bold;
      }

      .icon {
        cursor: pointer;
      }
    }
  }
}
